# Video folders

VIDEO_METADATA_INPUT_PATH=path/to/metadata
VIDEO_TRANSCRIPTION_INPUT_PATH=path/to/transcription
VIDEO_OCR_INPUT_PATH=path/to/ocr
VIDEO_VISION_INPUT_PATH=path/to/vision

# Google Sheets

GOOGLE_CREDENTIALS_FILE=credentials/your-service-account.json
GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_WORKSHEET_NAME=Карточка ролика

# OpenAI

OPENAI_API_KEY=your_openai_api_key

# Telegram

TELEGRAM_BOT_TOKEN=your_telegram_bot_token